{% extends 'catalog/base.html' %}
{% block title %}Create{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ message }}</h4>
                </div>
                <form method="post" enctype="multipart/form-data" class="form-floating">
                    <div class="card">
                        <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                        {% if object %}
                            <button type="submit" class="btn btn-primary">
                                Сохранить
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-danger">
                                Создать
                            </button>
                        {% endif %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Отмена</a>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}