 <nav class="nav">
    <ul class="nav nav-pills nav-justified flex-column mb-auto">
      <li class="nav-item nav-link my-2">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Главная</a>
      <li class="nav-item nav-link my-2">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Каталог</a>
      </li>
      <li class="nav-items nav-link my-2">
        <a class="p-2 btn btn-outline-primary" href="#">Заказы</a>
      </li>
      <li class="nav-items nav-link my-2">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
      </li>
    </ul>
  </nav>