{% extends 'catalog/base.html' %}
{% block title %}Create{% endblock %}
{% block content %}

<div class="container">
    <div class="row text-start">

        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ message }}</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Наименование продукта</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Введите наименование продукта" maxlength="255" required>
                        </div>
                        <div class="mb-3">
                            <label for="description">Описание</label>
                            <input type="text" name="description" class="form-control" id="description" placeholder="Введите описание продукта" required>
                        </div>
                        <div class="mb-3">
                            <label for="price">Цена</label>
                            <textarea type="text" name="price" class="form-control" id="price" placeholder="Цена продукта" required></textarea>
                        </div>


                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}